<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>领域国际平台 - 登录</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="../resource/hotui/css/font-awesome.min.css" th:href="@{/resource/hotui/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../resource/hotui/css/animate.min.css" th:href="@{/resource/hotui/css/animate.min.css}" rel="stylesheet">
    <link href="../resource/hotui/css/style.min-1.0.8.css" th:href="@{/resource/hotui/css/style.min-1.0.8.css}" rel="stylesheet">
    <link href="../resource/hotui/css/login.min.css" th:href="@{/resource/hotui/css/login.min.css}" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
    </script>

</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>[ 领域国际 ]</h1>
                </div>
                <div class="m-b"></div>
                <h4>Welcome <strong>领域国际装修管家运营后台</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" action="/login">
                <h4 class="no-margins">登录：</h4>
                <input type="text" class="form-control uname" name="username" placeholder="用户名"/>
                <input type="password" class="form-control pword m-b" name="password" placeholder="密码"/>
                <p style="height: 15px;"></p>
                <button class="btn btn-success btn-block">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2015 All Rights Reserved. H+
        </div>
    </div>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="../resource/hotui/js/plugins/hot/bootstrap.hot.extra-utils.js"
        th:src="@{/resource/hotui/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var failedFlag = /*[[${failedFlag}]]*/ false;
    var errorMsg = /*[[${errMsg}]]*/ "";
    $(function () {
        if (failedFlag) {
            hot.tip.error(errorMsg);
        }
    })
</script>
</html>